<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <!-- ========== Meta Tags ========== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="#" />
  {% block meta %}{% endblock meta %}
  <!-- ========== Page Title ========== -->
  <title>{% block title %}{% endblock title %}</title>
  <!-- ========== Start Stylesheet ========== -->
  <!-- <link rel='icon' href="{% static 'assets/img/logo.png' %}" type='image/x-icon' sizes="16x16" /> -->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/bootsnav.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
  <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>

  <!-- ========== End Stylesheet ========== -->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]><script src="assets/js/html5/html5shiv.min.js"></script><script src="assets/js/html5/respond.min.js"></script><![endif]-->
  <!-- ========== Google Fonts ========== -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" /> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600,700,800" rel="stylesheet" /> -->
  {% block css %}{% endblock css %}
</head>

<body>
  <!-- Preloader Start -->
  <div class="se-pre-con"></div>
  <!-- Preloader Ends -->
  <!-- Start Header Top     ============================================= -->
<!--   <div class="top-bar-area inline inc-border">
    <div class="container">
      <div class="row">
        <div class="col-md-8 address-info text-left">
          <div class="info box">
            <ul>
                <li>
                    <address>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:hantien@handian.com">hantien@handian.com</a>
                    </address>
                </li>
              <li><i class="fa fa-phone"></i>010-56903399</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 bar-btn text-right">
          <a href="#">中文版<i class="fa fa-sort-down"></i></a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Header Top -->
  <!-- Header     ============================================= -->
  <header id="home">
    <!-- Start Navigation -->
    <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">
      <!-- Start Top Search -->
      <div class="container">
        <div class="row">
          <div class="top-search">
            <div class="input-group">
              <form action="{% url 'user:search' %}" method="GET">
                <input type="text" name="search" class="form-control" placeholder="搜 索" />
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Search -->
      <div class="container">
        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
          <ul>
            <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            <!-- <li class="side-menu"><a href="#"><i class="fa fa-bars"></i></a></li> -->
          </ul>
        </div>
        <!-- End Atribute Navigation -->
        <!-- Start Header Navigation -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
              class="fa fa-bars"></i></button>
          <a class="navbar-brand" href="{% url 'user:index' %}"><img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo" /></a>
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">

          <!--   <li class="active"><a href="index.html">首页</a></li>
                ---:  -->
            {% if productnav %}

                {% for nav in navbar %}
                <li {% if nav.zh_name == '服务与产品' %} class="active" {% endif %}>
                    <a href="{{ nav.nav_url }}">
                    <em></em>{{ nav.zh_name }}</a>
                </li>
                {% endfor %}

            {% elif newsOnenav %}

                {% for nav in navbar %}
                <li {% if nav.zh_name == '新闻动态' %} class="active" {% endif %}>
                    <a href="{{ nav.nav_url }}">
                    <em></em>{{ nav.zh_name }}</a>
                </li>
                {% endfor %}

            {% elif centernav %}

                {% for nav in navbar %}
                <li {% if nav.zh_name == '医学中心' %} class="active" {% endif %}>
                    <a href="{{ nav.nav_url }}">
                    <em></em>{{ nav.zh_name }}</a>
                </li>
                {% endfor %}

            {% elif newsListnav %}

                {% for nav in navbar %}
                <li {% if nav.zh_name == '新闻动态' %} class="active" {% endif %}>
                    <a href="{{ nav.nav_url }}">
                    <em></em>{{ nav.zh_name }}</a>
                </li>
                {% endfor %}
            {% elif recruitmentnav %}

                {% for nav in navbar %}
                <li {% if nav.zh_name == '招贤纳士' %} class="active" {% endif %}>
                    <a href="{{ nav.nav_url }}">
                    <em></em>{{ nav.zh_name }}</a>
                </li>
                {% endfor %}

            {% else %}

                {% for nav in navbar %}
                    <li {% if request.path == nav.nav_url %} class="active" {% endif %}>
                        <a href="{{ nav.nav_url }}">
                        <em></em>{{ nav.zh_name }}</a>
                    </li>
                {% endfor %}

            {% endif %}
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
    </nav>
    <!-- End Navigation -->
  </header>
  <!-- End Header -->
  {% block breadcrumb %}{% endblock breadcrumb %}
  {% block content %}{% endblock content %}
  <!-- Start Footer     ============================================= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="f-items default-padding">
          <!-- Single Item -->
          <div class="col-md-6 item">
            <div class="f-item">
              <p><a href="index.html"><img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo" /></a></p>
              <p>北京汉典制药有限公司为北京市高新技术企业，以产、学、研为基础，致力于预防和治疗疾病的科学研究、产品开发，不断取得高科技成果，拥有多项国家发明专利，国家中药保护品种，在中医药、生物工程、天然植物药等领域提供经典的健康产品，为健康事业做出积极贡献。公司系国家GMP认证和国际ISO 9001认证企业。北京汉典制药勤求古训、博采众方，探索整理中医药学和现代科学技术的应用，研究中医药科学原理，实现“自然、健康”，使中医药更好服务于社会。</p>
              <p><i class="fa fa-map-marker"></i>北京市朝阳区朝外大街乙12号1号楼昆泰国际大厦22层</p>
              <p><i class="fa fa-envelope"></i>hantien@handian.com</p>
              <p><i class="fa fa-phone"></i>010-56903399</p>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 item">
            <div class="f-item link">
              <h4>网站导航</h4>
              <ul>
                <li><a href="#"><i class="fa fa-arrow-right"></i>联系我们</a></li>
                <li><a href="#"><i class="fa fa-arrow-right"></i>法律声明</a></li>
                <li><a href="#"><i class="fa fa-arrow-right"></i>隐私保护</a></li>
                <li><a href="#"><i class="fa fa-arrow-right"></i>网站地图</a></li>
              </ul>
            </div>
          </div>
          <!-- End Single Item -->
          <!-- Single Item -->
          <div class="col-md-3 item">
            <div class="f-item twitter-widget">
              <h4>关注我们</h4>
              <div class="twitter-item">
                <div class="twitter-content">
                  <p>
                    <a href=""><img src="{% static 'assets/img/tc-2.jpg' %}" alt=""></a></p>
                    <a href=""><img src="{% static 'assets/img/tc-1.jpg' %}" alt=""></a>
                </div>
              </div>
              <div class="twitter-item">
                <div class="twitter-content">
                  <p><a href="#"><strong>汉典集团</strong></a></p>
                  <p><a href="#"><strong>汉典中医医院</strong></a></p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Item -->
        </div>
      </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>Copyright &copy; 2019 北京汉典制药有限公司</p>
            <p>京ICP备09033805号-1&nbsp;&nbsp;(京)-非经营性-2015-0182</p>
          </div>
          <div class="col-md-6 text-right link">
            <ul>
              <li><a href="#"><i class="fa fa-qq"></i></a></li>
              <li><a href="#"><i class="fa fa-weixin"></i></a></li>
              <li><a href="#"><i class="fa fa-weibo"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Footer Bottom -->
  </footer>
  <!-- End Footer -->
  <!-- jQuery Frameworks    ============================================= -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/equal-height.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/wow.min.js' %}"></script>
  <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/js/count-to.js' %}"></script>
  <script src="{% static 'assets/js/bootsnav.js' %}"></script>
  {% block js %}{% endblock js %}
</body>

</html>