{% extends "center.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/center-page.css' %}">
{% endblock css %}
{% block centerContent %}

<div class="famous-content f-item">
    <h3 class="text-center"><span>远程医疗</span></h3>
    <p class="text-remote">
        汉典远程会诊平台是基于Internet和手机4G，采用现代通信技术、现代电子技术和计算机技术手段，实现专家端对诊所客户和患者端的远程会诊体系。平台通过预约会诊、视频互动、记录诊断、支付等系统功能，不仅满足远程会诊、教学研究和病例库建立的需求，更能大幅提高基层医疗水平。
    </p>
    <p class="text-remote">
        汉典远程会诊平台囊括了北医三院、宣武医院、东直门医院等国内各大知名医院，覆盖了骨伤科、内科、外科、妇科、儿科等多个权威科室，汇聚了极具权威性的专家团队，力造最专业的远程诊疗服务。
    </p>
    <!-- <p class="text-center"><img src="{% static 'assets/img/news/news-1.jpg' %}" alt=""></p> -->
    <!-- <p class="text-center">我们弘扬真善美，服务于健康事业。汉典产业的健康事业，来自我们的不断创造。汉典产业以“科学发展、创造经典”为理念，以“真善美”服务社会，促进医药科技发展，创造值得信赖的品牌企业，实现我们“服务于健康事业”的理想和价值观。</p> -->
</div>

{% endblock centerContent %}