{% extends "base.html" %}
{% load static %}

{% block title %}{{ news.title }}{% endblock title %}

{% block breadcrumb %}
    <div class="breadcrumb-area min-h-a"
        style="background-image: url({% static 'assets/img/banner/8.jpg' %}); background-size: 100% 100%; background-position-x: center; background-repeat: no-repeat; min-height: 260px;">
        <div class="container">
            <div class="row banner-padding">
                <div class="col-md-6">
                    <img src="{% static 'assets/img/title-d.png' %}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right pt-0">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'user:index' %}"><i class="fa fa-home"></i>首页</a></li>
                        <li><a href="{% url 'user:news' %}"><i class="fa fa-home"></i>新闻动态</a></li>
                        <li class="active">
                            {% if news.title|length > 5 %}
                                {{ news.title|slice:":5" }}...
                            {% else %}
                                {{ news.title }}
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}
    <!-- Start About    ============================================= -->
{% block content %}
    <div class="famous-area default-padding top-40"
        style="background-image: url({% static 'assets/img/bg-2.jpg' %}); background-repeat: no-repeat; background-size: 100%;">
        <div class="container news-content">
            <div class="news-text">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {% if news %}
                            <h3>{{ news.title }}</h3>
                            <p class="bb1" style="text-indent: 0;"><span>{{ news.create_time }}</span> <span>来源</span></p>
                            {{ news.content|safe }}
                            <p style="text-indent: 0">
                                <span>
                                    {% if previous %}
                                    <a href="{% url 'user:news-detail' previous.id %}">
                                        上一篇: <span>{{ previous.title }}</span> 
                                    </a>
                                    {% endif %}
                                </span>
                                <br>
                                <span class="text-right">
                                    {% if next %}
                                    <a href="{% url 'user:news-detail' next.id %}">
                                        下一篇: <span>{{ next.title }}</span> 
                                    </a>
                                    {% endif %}
                                </span>
                            </p>
                        {% else %}
                        <span>抱歉, 文章已被删除.</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
