{% extends "base.html" %}
{% load static %}

{% block title %}汉典制药-招贤纳士{% endblock title %}

{% block breadcrumb %}
    <div class="breadcrumb-area min-h-a"
        style="background-image: url({% static 'assets/img/banner/9.jpg' %}); background-size: 100% 100%; background-position-x: center; background-repeat: no-repeat; min-height: 260px;">
        <div class="container">
            <div class="row banner-padding">
                <div class="col-md-6">
                    <img src="{% static 'assets/img/title-e.png' %}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-right pt-0">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'user:index' %}"><i class="fa fa-home"></i>首页</a></li>
                        <li class="active">招贤纳士</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <div class="famous-area default-padding top-40"
        style="background-image: url({% static 'assets/img/bg-2.jpg' %}); background-repeat: no-repeat; background-size: 100%;">
        <div class="container news-content">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% for p in position_info %}
                    <div class="news-banner recruitment-banner">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12"><img src="{{ p.img_header }}" alt="" /></div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                                <h3>{{ p.title }}</h3>
                                {{ p.content|safe }}
                            </div>
                        </div>

                    </div>
                    {% endfor %}

                    <div class="news-title recruitment-title">
                        <h2>社会<span>招聘</span></h2>
                    </div>
                </div>
                {% if position_society %}
                    {% for po in position_society %}
                    <div class="col-md-6">
                        <div class="news-list recruitment-list">
                            <a href="{% url 'user:recruitment-position' po.id %}">
                                <span class="time"><strong>25</strong><br>2019-12</span>
                                <h2>{{ po.position_title }}</h2>
                                <p>{{ po.work_experience }}</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col-md-6">
                    <div style="text-indent: 2em;">暂无招聘信息</div>
                </div>
                {% endif %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="news-title recruitment-title">
                        <h2>校园<span>招聘</span></h2>
                    </div>
                </div>
                {% if position_student %}
                    {% for po in position_student %}
                    <div class="col-md-6">
                        <div class="news-list recruitment-list">
                            <a href="{% url 'user:recruitment-position' po.id %}">
                                <span class="time"><strong>25</strong><br>2019-12</span>
                                <h2>{{ po.position_title }}</h2>
                                <p>{{ po.work_experience }}</p>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="col-md-6">
                    <div style="text-indent: 2em;">暂无招聘信息</div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}